@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(37, 66, 98);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}